:root {
    --blue: #243763;
    --orange: #FF6E31;
    --cream: #FFEBB7;
    --brown: #AD8E70;
    --cream-brown: #D5CEA3;
    --cream-white: #E5E5CB;
}

a {
    color: var(--blue);
}

body {
    margin-top: 7%;
    background-color: var(--brown);
}

header, .navbar, .nav-link {
    background-color: var(--blue);
    color: white;
}

.nav-link:hover {
    color: var(--orange);
}

.dropdown-menu {
    background: var(--cream-white);
}

.dropdown-menu > li > button:hover, button:active {
    color: black;
    background-color: var(--cream-brown);
}

footer {
    background-color: var(--blue);
    color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .input-group-text{
    background-color: var(--blue) !important;
    border-color: var(--blue);
    color: white;
}

.card {
    background-color: var(--cream-brown);
}

.form-control, .form-control:focus {
    background-color: var(--cream-white);
    border-color: var(--cream-white);
    box-shadow: none;
}

#home-button {
    color: white !important;
}

label:hover {
    cursor: pointer;
}
